body {
    font-family: 'Roboto Mono',monospace;
    min-height: 600px;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-03-mentalista.png');
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  .card{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    border-radius: 2px;
    margin:10px;
    width: 40%;
    min-width: 300px;
    min-height: 400px;
    border: solid rgb(120, 120, 208) 2px;  
    background-size: cover;
    background-position: bottom; 
}
.card:nth-child(1) {
    background-image: url(https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-03-mentalista.png);
  
}
  
